.contact-us__form {
  width: 30rem;
  display: flex;
  flex-direction: column;

  & > * {
    margin-bottom: 2rem;
  }

  input,
  textarea {
    border: none;
    padding: 1rem;
    &::placeholder {
      color: var(--color-gray);
    }
  }

  textarea {
    height: 10rem;
  }

  button {
    height: 3rem;
    background: var(--color-dark-gray);
    color: #fff;
    text-transform: uppercase;
  }
}
