@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.content {
  background: var(--color-white);
  min-height: calc(100% - 73px - 120px);

  @media (--media-min-small) {
    min-height: calc(100% - 91px - 155px);
  }
}

.footer {
  border-top: 1px solid var(--color-very-light-gray);
  background-color: var(--color-dark-gray);
  color: #fff;
  @nest & a {
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      @nest &:hover {
        color: var(--color-accent);
      }
    }
  }
}

.footerWrapper {
  box-sizing: border-box;
  max-width: 1440px;
  padding: 4.5em 1.5em 1.5em;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  gap: 2rem;

  text-align: center;

  padding-bottom: 6rem;

  @media (--media-min-small) {
    padding: 6em 2em 2em;
  }
}

.footerWrapper div {
  width: 100%;
}

.footerWrapper div:first-of-type {
  text-align: left;
}

.footerWrapper div:last-of-type {
  text-align: right;
}
.footerWrapper h3 {
  font-weight: 100;
  margin-bottom: 2rem;
}
.footerWrapper ul,
.footerWrapper p {
  margin-top: 2rem;
}
.footerWrapper hr {
  width: 100%;
}

.companyAddress {
  text-align: center;
  margin: 0 0 1rem;
}

.siteInfo {
  text-align: center;
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
}
