.this-is-us {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  text-align: center;
}

.list-item {
  height: 15rem;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0ede1;
  background-color: var(--color-dark-gray);
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.5s;
  display: block;

  svg {
    width: 4rem;
    height: 4rem;
  }

  &:hover {
    background-color: var(--color-primary);
    color: #434343;

    svg {
      path {
        fill: var(--color-dark-gray);
      }
    }
  }
  .list-item__h3 {
    font-size: 0.7rem;
  }
}
